In [2]:
import pandas as pd
df = pd.read_csv("heart.csv")

In [4]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
x=df.drop("target",axis=1)
y=df["target"]

In [37]:
from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [39]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
117,56,1,3,120,193,0,0,162,0,1.9,1,0,3

In [40]:
y_train

93     1
143    1
116    1
278    0
142    1
      ..
271    0
29     1
71     1
257    0
117    1
Name: target, Length: 242, dtype: int64

In [41]:
#l = LabelEncoder()

In [42]:
#y_train = l.fit_transform(y_train)
#y_test = l.transform(y_test)

In [61]:
Knn = KNeighborsClassifier(n_neighbors = 3)
Knn.fit(x_train, y_train)
Knn.score(x_test,y_test)
Knn.predict([[54,0,1,132,288,1,0,159,1,0.0,2,1,2]])

array([1], dtype=int64)

In [62]:
knn1 = KNeighborsRegressor(n_neighbors=3)
knn1.fit(x_train,y_train)
knn1.score(x_test,y_test)
knn1.predict([[54,0,1,132,288,1,0,159,1,0.0,2,1,2]])

array([0.66666667])